<% include header %>
</head>

<body class=" grey lighten-2">
    <% include navBar %>
    <br>
    <div class="container white z-depth-2">
        <div class="row center">
                <h2 class="header">Validar inscrição</h2>
                <div class="divider"></div>
                <p class="light">Para validar sua inscrição, é necessário levar ao professor o código de barras abaixo.</p>
            </div>
        <div class="row center">
        <div class="row">
            <img src="http://barcodes4.me/barcode/c39/<%=codigo %>.png">
        </div>
    </div>
</body>
