    <% include header %>
        <script type="text/javascript">
           $(document).load(function(){
                $(".dropdown-trigger").dropdown();
           });
        </script>

    </head>
    <body class=" grey lighten-2">
      <% include navBar %>
    </body>
</html>