<% include header%>
        <script>
            $(document).ready(function() {
                $('select').material_select();
            });
        </script>
    </head>
    <body class=" grey lighten-2">
        <%include navBar%>
        <div class="container white z-depth-2">
            <div class="row center">
                <h2 class="header">Criar um novo Teste</h2>
                <div class="divider"></div>
            </div>
            <div class="row center">
                <div class="col s8 offset-s2">
                    <% if(ucs.length == 0){%>
                        <p>Nao ha unidades curriculares disponiveis. Consulte a equipe tecnica</p>
                    <%} else{%>
                        <form action = "/tests/add" method = "POST" >
                            <div class="input-field col s6">
                                    <input id="tipo" type="text" class="validate" name="tipo">
                                    <label for="tipo">Tipo</label>
                            </div>
                            <div class="input-field col s6">
                                    <input id="data" type="date" class="validate" name="data">
                                    <label for="data">Data</label>
                            </div>
                            <div class="input-field col s6">
                                    <input id="sala" type="text" class="validate" name="sala">
                                    <label for="sala">Sala</label>
                            </div>
                            <div class="input-field col s6">
                                    <input id="lotacaoMaxima" type="number" class="validate" name="lotacaoMaxima">
                                    <label for="lotacaoMaxima">Lotacao Maxima</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="id_uc">
                                        <% for(var chave in ucs){%>
                                            <option value="<%= ucs[chave].iduc %>"><%= ucs[chave].unidadeCurricular %></option>
                                        <% }%>
                                </select>
                                <label>Unidade Curricular</label>
                            </div>
                            <div class ="col s12">
                                <br>
                                <input type="submit" value="Criar Teste" class="waves-effect waves-light btn">
                            </div>
                        </form>
                    <%}%>
                </div>
            </div>
            <br>
        </div>
    </body>
</html>
