<!DOCTYPE html>
<html>
    <h1>Login</h1>

    <form action = "/register" method = "POST">
        Codigo: <input type="text" name="codigo"><br>
        E-mail: <input type="text" name="email"><br>
        Senha: <input type="password" name="password"><br>
        <input type="submit" value="Entrar">
    </form>
</html>