<% include header %> 
    </head>
    <body class=" grey lighten-2">
        <% include navBar %>
        <div class="container ">
            <div class="row">
                <br>
                <div class="col s6 offset-s3 white z-depth-2">
                        <div class="row center">
                            <%= code%>
                        </div>
                        <div class="row center">
                            <%= message%>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>